<template>
  <div class=".cruds__edit">
      <h1> Edit </h1>

      <div v-show="getMode === 'trilha'">
        <h2> Trilhas </h2>

        <div> Codigo: <input type="text" v-model="trl_codigo"> </div>
        <div> Nome: <input type="text" v-model="trl_nome"> </div>
        <div> Descricao: <input type="text" v-model="trl_descricao"> </div>
        <div> Minimo de Disciplinas: <input type="integer" v-model="trl_mindscp"> </div>
        <div> Minimo de Modulos: <input type="integer" v-model="trl_minmod"> </div>

        <button type="submit" @click="edit_track"> editar </button>
      </div>


      <div v-show="$store.getters.getMode === 'modulo'">
        <h2> Módulos </h2>

        <div> Codigo: <input type="text" v-model="mod_codigo"> </div>
        <div> Minimo de Disciplinas: <input type="integer" v-model="mod_mindscp"> </div>
        <div> Codigo da Trilha: <input type="integer" v-model="mod_trl_cdg"> </div>

        <button type="submit" @click="edit_module"> editar </button>
      </div>

      <div v-show="$store.getters.getMode === 'optativa'"
         class=".cruds__edit__optativas">
          <h2> Optativas compõem módulos </h2>

          <div> Codigo da Disciplina: <input type="text" v-model="opt_cod_dscp"> </div>
          <div> Ano Grade: <input type="integer" v-model="opt_ano"> </div>
          <div> Codigo do Módulo: <input type="integer" v-model="opt_cod_mod"> </div>

          <button type="submit" @click="edit_optional"> editar </button>
        </div>

        <router-link rag="div" to="/trilhas"> &larr; </router-link>
  </div>
</template>

<script>
import {mapGetters} from 'vuex';

export default {
  data() {
    return {
      trl_codigo: null,
      trl_nome: null,
      trl_descricao: null,
      trl_mindscp: null,
      trl_minmod: null,

      mod_codigo: null,
      mod_mindscp: null,
      mod_trl_cdg: null,

      opt_cod_dscp: null,
      opt_ano: null,
      opt_cod_mod: null
    }
  },

  methods: {
    async edit_track() {
      const response = await this.$axios.$post('/rpc/edita_trilha', {
        nusp: this.getNusp,
        cdg_trilha: this.getActiveTrilha.codigo_trilha,
        up_cdg_trilha: this.trl_codigo,
        up_nome: this.trl_nome,
        up_descricao: this.trl_descricao,
        up_min_dscp: this.trl_mindscp,
        up_min_mod: this.trl_minmod
      },
      { headers: {Authorization: `Bearer ${this.getToken}`} }
      )

      if(response)
        this.$router.go('/trilhas');
    },

    async edit_module() {
      const response = this.$axios.$post('/rpc/edita_modulo', {
        nusp: this.getNusp,
        cdg_modulo: this.getActiveModulo.codigo_modulo,
        up_cdg_trilha: this.mod_trl_cdg,
        up_cdg_modulo: this.mod_codigo,
        up_min_dscp: this.mod_mindscp
      },
      { headers: {Authorization: `Bearer ${this.getToken}`} }
      )

      if(response)
        this.$router.push('/trilhas');
    },

    async edit_optional() {
      const response = await this.$axios.$post('/rpc/edita_optativa_modulo', {
        nusp: this.getNusp,
        ano_grd_optativa: this.getActiveOptativa.ano_grade,
        cdg_dscp: this.getActiveOptativa.codigo_disciplina,
        cdg_mod: this.getActiveOptativa.codigo_modulo,
        up_ano_grd_optativa: this.opt_ano,
        up_cdg_mod: this.opt_cod_mod,
        up_cdg_dscp: this.opt_cod_mod
      },
      { headers: {Authorization: `Bearer ${this.getToken}`} }
      )

      if(response)
        this.$router.push('/trilhas');
    },
  },

  computed: {
    ...mapGetters([
      'getNusp',
      'getToken',
      'getActiveTrilha',
      'getActiveModulo',
      'getActiveOptativa',
      'getMode'
    ])
  }
}
</script>

<style lang="scss">
.cruds__edit {
}
</style>
