<template>
  <div class="disciplina">
    <div 
      class="disciplina_status" 
      :style="`background: ${getStatus(code).color}`"
      @click="changeState()">
      <span v-html="getStatus(code).symbol"/>
    </div>
    
    <div class="disciplina_counter disciplina_under_button"
         @click="increment()"
         @contextmenu="decrement($event)">
      {{counter}}
    </div>

    <router-link to="/estrutura/" 
      class="disciplina_info disciplina_under_button"
      v-show="isAuthenticated" 
      @click.native="$store.commit('setActiveSubject', {code})"
      tag="div">
        &#8505;
    </router-link>
    
    <div 
      class="disciplina_code"
      :style="`color: ${getStatus(code).color}`"> 
      {{code}}  
    </div>
  </div>
</template>

<script>
import {mapGetters} from 'vuex';

export default {

  props: ["code", "creditos"],

  data() {
    return {
      counter: 1,
    }
  },

  methods:{
    increment() {
    if (!this.isOnCourse) return;
      this.counter++;

      this.$store.dispatch('addToPlanning', {
        code: this.code,
        counter: this.counter
      })
    },
    
    decrement(event) {
      if (!this.isOnCourse) return;

      event.preventDefault();
      if (this.counter > 1) this.counter--;

      this.$store.dispatch('addToPlanning', {
        code: this.code,
        counter: this.counter
      })
    },
    
    async changeState() {
      if (!this.isOnCourse) return;

      this.$store.dispatch('setSubjectStatus', { code: this.code});

      const credits = +this.creditos;

      const type = await this.$axios.$post(`rpc/tipo_disciplina`, {
        cdg_disciplina: this.code
      });

      let payload = { credits, code: this.code, type }

      if (this.getStatus(this.code).status === 'cursada') {
        payload.name = 'approved';
        this.$store.commit('addCredits', payload);
      }

      else if (this.getStatus(this.code).status === 'planejada') {
        payload.name = 'planned';
        this.$store.commit('addCredits', payload);

        payload.name = 'approved';
        this.$store.commit('removeCredits', payload);

        this.$store.dispatch('addToPlanning', {
          code: this.code,
          counter: this.counter
        })
      }

      else {
        payload.name = 'planned';
        this.$store.commit('removeCredits', payload);
      } 
    },
  },

  beforeMount() {
    const payload = { code: this.code };

    if(this.isApproved(this.code)) 
      payload['index'] = 1;

    else if (this.isPlanned(this.code))
      payload['index'] = 2;

    else
      payload['index'] = 0;

    this.$store.commit('setStatus', payload);
  },

  computed: {
    ...mapGetters([
      'isAuthenticated',
      'isOnCourse',
      'getStatus',
      'isApproved',
      'isPlanned'
    ])
  }
}
</script>

<style lang="scss">
.disciplina{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;

    margin: 0.5em 1em;
}

.disciplina_status {
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  color: $light-color;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  font-size: 2rem;

  user-select: none;
  cursor: pointer;
}

.disciplina_under_button {
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: $light-color;
  color: $dark-color;
  border-style: solid;

  font-size: 13px;

  border-width: 1px;
  border-color: $dark-color;
  border-radius: 100%;

  width: 1.5rem;
  height: 1.5rem;

  user-select: none;
  cursor: pointer;
}

.disciplina_info {
  justify-self: end;
  align-self: start;
}

.disciplina_counter {
  justify-self: end;
  align-self: end;
}

.disciplina_code {
    grid-row: 2 / 3;
    grid-column: 1 / 2;

    margin-top: 0.5em;
    justify-self: center;
}
</style>
