<template>
    <div class="estrutura_materias">
      <div class="estrutura_materias_titulo">
        {{ titulo }}
      </div>
      <div class="estrutura_materias_lista">
        <div v-for="materia of materias" :key="materia.codigo_disciplina"
          class="estrutura_materias_item">
          {{ materia.codigo_disciplina }}
        </div>
      </div>
    </div>
</template>

<script>
export default {
  props: ['titulo', 'materias']
}
</script>

<style lang="scss">
.estrutura_materias {
  background: $light-color;
  border-radius: 0.5em;

  padding: 1em;
  box-shadow: 0.25em 0.25em rgba(0, 0, 0, 0.1);

  margin-bottom: 1em;
}

.estrutura_materias_titulo {
  color: $primary-color;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0.5rem;
}

.estrutura_materias_lista {
  display: flex;
  flex-flow: row wrap;
}

.estrutura_materias_item {
  background: $medium-color;
  color: $primary-color;

  padding: 1rem;
  margin: 0.5rem;

  border-radius: 0.5rem;
}
</style>
