<template>
  <aside class="aside">
    <login v-if="!isAuthenticated"/>
    <user-info v-show="isAuthenticated" :nome="getNome"/>
    <view-menu :planos="this.getPlanNumbers"/>
  </aside>
</template>

<script>
import Login from '@/components/Login.vue';
import UserInfo from '@/components/UserInfo.vue';
import ViewMenu from '@/components/ViewMenu.vue';

import {mapGetters} from 'vuex';

export default {
  components: {
    Login,
    UserInfo,
    ViewMenu
  },

  data() {
    return {
    }
  },

  computed: {
    ...mapGetters([
      'isAuthenticated',
      'getNome',
      'getPlanNumbers'
    ])
  }
}
</script>

<style lang="scss">
.aside {
  /* Grid to position the cell itself */
  grid-area: aside;
  width: 100%;

  /* Flexbox to align the content in the cell */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background: $medium-color;
}
</style>
