<template>
  <div class="user_info"> 
    <div class="user_info_foto">&#128100;</div>
    <div class="user_info_nome">{{ nome }}</div>
    <router-link
      tag="div" 
      to="/"
      class="user_info_icone" 
      @click.native="logout">&#10006;
    </router-link>
  </div>
</template>

<script>
export default {
  props: ['nome'],

  methods: {
    logout() {
      this.$store.commit("logOut");
    }
  }
}
</script>

<style lang="scss">
.user_info {
  display: grid;
  grid-template-areas:
    ". . foto foto . ."
    ". . foto foto . ."
    ". . foto foto . ."
    ". nome nome nome nome icone";

  padding-top: 1em;

  width: 100%;

  background: $primary-color;
  color: $light-color;

  user-select: none;
}

.user_info_foto {
  grid-area: foto;

  text-align: center; 
  font-size: 3em;
}

.user_info_nome {
  grid-area: nome;
  text-align: center;

  padding-top: 0.2em;
}

.user_info_icone{
  grid-area: icone;
  text-align: center;

  font-size: 1.5em;

  cursor: pointer;
}
</style>

